.firstSection {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100vw;
  padding: 180px 10vw 0 15vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#2dc6ea), to(#2ba9c8));
  background: linear-gradient(180deg, #2dc6ea 0%, #2ba9c8 100%);
  mix-blend-mode: normal;
}

.firstSection .firstArticle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10vw;
}

.firstSection .secondArticle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: visible;
}

.firstSection .secondArticle img {
  height: 80%;
  max-width: none;
  margin-left: -4vw;
}

.firstSection .secondArticle .button {
  border: 2px solid var(--white);
  border-radius: 30px;
  background-color: transparent;
  color: var(--white);
  padding: 0.8rem 1.6rem;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 150%;
}

.button {
  font-size: 1.8rem;
  cursor: pointer;
}

.firstSection .secondArticle .lowProfile {
  margin-bottom: 2rem;
}

.slogan {
  background-color: white;
  color: #2dc6ea;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  padding: 0.5rem 5rem;
  border-radius: 5rem;
  letter-spacing: 0.05em;
  font-size: 2.4rem;
}

.spotlight {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 74px;
  text-align: start;
  margin: 1.5rem 0 3rem;
  color: var(--white);
}

.lowProfile {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 130%;
  letter-spacing: 0.05em;
  color: var(--white);
}

.tip {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -98%);
          transform: translate(-50%, -98%);
}

.secondSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.secondSectionSlide {
  display: -ms-grid;
  display: grid;
  padding: 0 17.5vw;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
}

.secondSectionSlide h1 {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 55px;
  text-decoration: underline;
  color: var(--orange);
  margin-bottom: 20px;
}

.secondSectionSlide p {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 130%;
  letter-spacing: 0.05rem;
  color: var(--gray);
}

.thirdSection {
  position: relative;
}

.thirdSection article {
  position: absolute;
  width: 100%;
  padding: 0 25vw;
  z-index: 5;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.thirdSection article h1 {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 55px;
  color: var(--white);
  margin-bottom: 2rem;
}

.thirdSection article p {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 3rem;
  color: var(--white);
}

.thirdSection article div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.thirdSection article div .button {
  background-color: transparent;
  border: 2px solid var(--white);
  border-radius: 30px;
  color: var(--white);
  padding: 1.2rem 3.2rem;
}

.thirdSectionBackground {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-repeat: no-repeat;
  background: url("../images/home/section3.jpg") center/cover;
  height: 70vh;
  max-height: 700px;
}

.thirdSectionUpperCover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8f29d9), to(#e46d00d9));
  background: linear-gradient(180deg, #ff8f29d9 0%, #e46d00d9 100%);
  mix-blend-mode: normal;
  position: absolute;
  width: 100vw;
  height: 70vh;
  max-height: 700px;
  z-index: 2;
}

.thirdSectionLowerCover {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--orange)), to(var(--dark-orange)));
  background: linear-gradient(180deg, var(--orange) 0%, var(--dark-orange) 100%);
  mix-blend-mode: multiply;
  position: absolute;
  width: 100vw;
  height: 70vh;
  max-height: 700px;
  z-index: 1;
}

.fourthSection div {
  position: relative;
  background: url("../images/home/section4.jpg") center/cover no-repeat;
  width: 100vw;
  height: 70vh;
  max-height: 700px;
}

.fourthSection div canvas {
  background: var(--black);
  opacity: 0.42;
  width: 100vw;
  height: 70vh;
  max-height: 700px;
}

.fourthSectionCard {
  position: absolute;
  top: 50%;
  left: 15vw;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: var(--white);
  -webkit-box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  width: 35em;
  padding: 3rem 3em;
  height: 40rem;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fourthSectionCard img {
  height: 4rem;
  margin-bottom: -1rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.fourthSectionCard h1 {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--blue);
}

.fourthSectionCard p {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 130%;
  letter-spacing: 0.05em;
  color: var(--gray);
}

.fourthSectionCard .button {
  position: relative;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--gray);
  background-color: transparent;
  border: 2px solid var(--gray);
  border-radius: 30px;
  padding: 6px 32px;
}

.fourthSectionCard .button::after {
  content: '';
  position: absolute;
  top: 1px;
  left: -1.5rem;
  width: 100%;
  background-repeat: no-repeat;
  height: 100%;
  background-position-y: center;
  background-position-x: right;
  background-image: url(../images/right-arrow.svg);
}

.fifthSection {
  height: 100vh;
  width: 100vw;
  padding: 0 15vw;
}

.fifthSection div h1 {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4vh;
  color: var(--orange);
}

.fifthSection .button {
  position: relative;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--gray);
  background-color: transparent;
  border: 2px solid var(--gray);
  border-radius: 30px;
  padding: 6px 40px 6px 30px;
  margin-top: 4rem;
}

.fifthSection .button::after {
  content: '';
  position: absolute;
  top: 1px;
  left: -2rem;
  width: 100%;
  background-repeat: no-repeat;
  height: 100%;
  background-position-y: center;
  background-position-x: right;
  background-image: url(../images/right-arrow.svg);
}

@media only screen and (max-width: 1366px) {
  .firstSection {
    padding: 180px 10vw 0 5vw;
  }
  .firstSection .firstArticle {
    padding-right: 0;
  }
  .firstSection .secondArticle {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  .firstSection .secondArticle img {
    max-width: 180%;
    margin-left: 0;
  }
  .thirdSection article {
    padding: 0 20vw;
  }
}

@media only screen and (max-width: 1024px) {
  .firstSection .firstArticle {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .firstSection .firstArticle img {
    height: 100%;
    margin: 0 auto;
  }
  .firstSection .firstArticle div {
    margin-top: -5vh;
  }
  .firstSection .firstArticle div h1 {
    font-size: 4rem;
    line-height: 5rem;
  }
  .firstSection .secondArticle {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .firstSection .secondArticle img {
    height: 70%;
    margin: 0 auto;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .firstSection .secondArticle div {
    margin-top: -15vh;
  }
  .firstSection .secondArticle div h1 {
    font-size: 4rem;
    line-height: 5rem;
  }
  .thirdSection article {
    padding: 0 5vw;
  }
  .thirdSection article section {
    text-align: center;
  }
  .thirdSection article div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100%;
  }
  .thirdSection article div .button {
    text-align: center;
    width: 100%;
  }
  .thirdSection h1 span {
    background-color: var(--white);
    color: var(--orange);
    border-radius: 8px;
  }
  .fourthSection div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fourthSection .fourthSectionCard {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .fifthSection {
    padding: 0 5vw;
  }
}
/*# sourceMappingURL=Home.module.css.map */